.profile-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; 
  background-color: #e49292a4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-image-container {
  grid-column: 1; 
  align-self: center; 
}

.profile-info {
  grid-column: 2; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-image {
  width: 500px;
  border-radius: 3%;
}

h1 {
  font-size: 40px;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
}

.link {
  margin-top: 10px;
  color: white;
  text-decoration: none;
  background-color: #780505;
  padding: 16px 16px;
  border-radius: 4px;
  text-align: center;
}

.link:hover {
  background-color: #420303;
}
